<div>
   <div>
        <h1>
    	{{ idProyecto.nombre }}
        </h1>
    	<a class="pull-right" routerLink="/proyectos">
      		Atras 
    	</a>

        
    </div>
    <br>
    <br>
    <legend>Tareas</legend>

    <div class="cont">
    	<div  *ngFor="let row of proyecto">
    			<div *ngFor="let tarea of tareas">
    				<div *ngIf="row.id == tarea.idProyecto">
    					<h4 >{{tarea.descripcion}}</h4>
				    </div>
			    </div>
        </div>
    </div>

</div>
