<div class="container">
  <legend>Estados de Tareas</legend>
  <div class="form-inline" *ngIf="crud_operation.is_visible">
    <label>Id:</label>
    <input class="form-control" type="number" placeholder="" [(ngModel)]="current_estado_tarea.id">
    <label>Descripcion:</label>
    <input class="form-control" type="text" placeholder="" [(ngModel)]="current_estado_tarea.descripcion">
    <label>Orden:</label>
    <input class="form-control" type="number" placeholder="" [(ngModel)]="current_estado_tarea.orden">
    <button class="btn btn-primary"(click)="save()">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
      Save
    </button>
    <button class="btn btn-default"(click)="crud_operation.is_visible = false">
      <i class="fa fa-ban" aria-hidden="true"></i>
      Cancel
    </button>
  </div>
  <table class="table table-striped table-hover">
    <tr>
      <th>Id</th>
      <th>Descripcion</th>
      <th>Orden</th>
      <th class="text-right">
        <button class="btn btn-success" (click)="new()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button class="btn btn-info" (click)="ngOnInit()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
      </th>
    </tr>
    <tr *ngFor="let row of data">
      <td>{{row.id}}</td>
      <td>{{row.descripcion}}</td>
      <td>{{row.orden}}</td>
      <td class="text-right">
        <div *ngIf="!row.confirm">
          <button class="btn btn-warning" (click)="edit(row)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button class="btn btn-danger" (click)="row.confirm = true"><i class="fa fa-times" aria-hidden="true"></i></button>
          <a  class="btn btn-info"  [routerLink]="['/estados', row.id,'reporte-estado']" >
          <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
        </div>
        <div *ngIf="row.confirm">
          <button class="btn btn-danger" (click)="row.confirm = false">Cancel</button>
          <button class="btn btn-success" (click)="delete(row)">Confirm</button>
        </div>
      </td>
    </tr>
    <tr *ngIf="data.length == 0">
      <td colspan="4" class="text-center">No data available</td>
    </tr>
  </table>
</div>
