.cont{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#estadoTarea{

	width: 100%;
	height: 15%;
	background: #FAF8D8; 
	padding: 8%;
	border-bottom-width: thin;
	border-width: 5px;
	border-radius: 10px;
}

