<div>
    <div>
       <h2 >{{ proyecto.nombre }} <br> Id: {{ proyecto.id }}</h2>  
      <a class="pull-right" routerLink="/proyectos">
          Atras 
      </a>
    </div>
    <br>
    <div   *ngFor="let row of personas">
       
    </div>   
   
    

    <legend>Estado de Tareas </legend>
    <button class="pull-right"  class="btn btn-info" (click)="ngOnInit()"><i class="fa fa-refresh" aria-hidden="true"></i></button>

    <div class="cont" >
       <div   *ngFor="let row of estado_tareas">
            <h4>{{row.descripcion}} <br> Id:{{row.id}} </h4>
            <div *ngFor="let tarea of tareas">
              <div *ngIf="row.id == tarea.idEstadoTareas">
                 <div id="estadoTarea" class="cont" [dragula]='"bag-task1"' >
                  <h4 >{{tarea.descripcion }} </h4>
                 </div>  
			      	</div>
		      	</div>		
		    </div>
	  </div>
     <div class="cont">
    <app-tarea></app-tarea>
    </div>
    <br>

    
</div>

<!--
<div>
  <div class='wrapper'>
    <div class='container' [dragula]='"bag-task1"' >
      <div>task 1: create a new angular project using npm</div>
      <div>task 2: move into your project folder</div>
      <div>task 3: install ng2-dragula component in your angular project</div>
    </div>
    <div class='container' [dragula]='"bag-task1"' >
      <div>task 4: import the module in the app module and add it to the NgModule imports</div>
      <div>task 5: in the app component import the Dragula service, inject it into the constructor and set dragula options</div>
      <div>task 6: in the app template, add the html code with the property dragula and use the customized css classes</div>
    </div>
  </div>
</div>
-->

