<div>
   <div> 
        <h1>
    	{{ persona.nombre }}
        </h1>
    	<a class="pull-right" routerLink="/personas">
      		Atras 
    	</a>

    </div>
    <br>
    <br>
    <legend>Tareas</legend>

    <div class="cont">
    	<div  *ngFor="let row of person">
    			<div *ngFor="let tarea of tareas">
    				<div *ngIf="row.id == tarea.idPersona">
    					<h4 >{{tarea.descripcion}}</h4>
				    </div>
			    </div>
        </div>
    </div>


</div>