<div>
   <div>
        <h1>
    	{{ estado.descripcion }}
         </h1>
    	<a class="pull-right" routerLink="/estado-tareas">
      		Atras 
    	</a>
    </div>
    <br>
    <br>
    <legend>Tareas</legend>

    <div class="cont">
    	<div  *ngFor="let row of estadoTarea">
    			<div *ngFor="let tarea of tareas">
    				<div *ngIf="row.id == tarea.idEstadoTareas">
    					<h4 >{{tarea.descripcion}}</h4>
				    </div>
			    </div>
        </div>
    </div>


</div>